USE [master]
GO
/****** Объект:  Database [Vosmerka]    Дата создания скрипта: 17.05.2026 22:46:47 ******/ 
CREATE DATABASE [Vosmerka]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Vosmerka].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Vosmerka]
GO
/****** Объект:  Table [dbo].[Materials]    Дата создания скрипта: 17.05.2026 22:46:47 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[MaterialTypeID] [int] NOT NULL,
	[QuantityInPackage] [int] NOT NULL,
	[UnitOfMeasurementID] [int] NOT NULL,
	[InStock] [int] NOT NULL,
	[MinimumPossibleInStock] [int] NOT NULL,
	[Cost] [int] NOT NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[MaterialTypes]    Дата создания скрипта: 17.05.2026 22:46:47 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_MaterialTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ProductMaterial]    Дата создания скрипта: 17.05.2026 22:46:47 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMaterial](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AmountOfMaterialNeeded] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[MaterialID] [int] NOT NULL,
 CONSTRAINT [PK_ProductMaterial] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Products]    Дата создания скрипта: 17.05.2026 22:46:47 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Article] [int] NOT NULL,
	[MinimumCostForAgent] [int] NOT NULL,
	[ImagePath] [nvarchar](100) NULL,
	[ProductTypeID] [int] NOT NULL,
	[NumberOfPeopleToManufacture] [int] NOT NULL,
	[NumberOfWorkshop] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ProductTypes]    Дата создания скрипта: 17.05.2026 22:46:47 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ProductTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Roles]    Дата создания скрипта: 17.05.2026 22:46:47 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[UnitsOfMeasurement]    Дата создания скрипта: 17.05.2026 22:46:47 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitsOfMeasurement](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_UnitsOfMeasurement] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 17.05.2026 22:46:47 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([ID], [Name], [MaterialTypeID], [QuantityInPackage], [UnitOfMeasurementID], [InStock], [MinimumPossibleInStock], [Cost]) VALUES (2, N'Резина для льда 0x2', 2, 2, 2, 816, 21, 48785)
INSERT [dbo].[Materials] ([ID], [Name], [MaterialTypeID], [QuantityInPackage], [UnitOfMeasurementID], [InStock], [MinimumPossibleInStock], [Cost]) VALUES (3, N'Шипы для льда 2x2', 1, 1, 1, 479, 22, 13077)
INSERT [dbo].[Materials] ([ID], [Name], [MaterialTypeID], [QuantityInPackage], [UnitOfMeasurementID], [InStock], [MinimumPossibleInStock], [Cost]) VALUES (4, N'Шипы для льда 3x0', 1, 9, 1, 885, 5, 52272)
SET IDENTITY_INSERT [dbo].[Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialTypes] ON 

INSERT [dbo].[MaterialTypes] ([ID], [Name]) VALUES (1, N'Шипы')
INSERT [dbo].[MaterialTypes] ([ID], [Name]) VALUES (2, N'Резина')
SET IDENTITY_INSERT [dbo].[MaterialTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductMaterial] ON 

INSERT [dbo].[ProductMaterial] ([ID], [AmountOfMaterialNeeded], [ProductID], [MaterialID]) VALUES (1, 16, 1, 18)
INSERT [dbo].[ProductMaterial] ([ID], [AmountOfMaterialNeeded], [ProductID], [MaterialID]) VALUES (2, 16, 83, 26)
INSERT [dbo].[ProductMaterial] ([ID], [AmountOfMaterialNeeded], [ProductID], [MaterialID]) VALUES (3, 13, 27, 18)
SET IDENTITY_INSERT [dbo].[ProductMaterial] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [Name], [Article], [MinimumCostForAgent], [ImagePath], [ProductTypeID], [NumberOfPeopleToManufacture], [NumberOfWorkshop]) VALUES (1, N'Колесо R18', 555, 555, N'Products\Baks.jpg', 2, 555, 555)
INSERT [dbo].[Products] ([ID], [Name], [Article], [MinimumCostForAgent], [ImagePath], [ProductTypeID], [NumberOfPeopleToManufacture], [NumberOfWorkshop]) VALUES (2, N'Запаска R15 Кованый', 327657, 8667, N'\products\tire_64.jpg', 2, 2, 8)
INSERT [dbo].[Products] ([ID], [Name], [Article], [MinimumCostForAgent], [ImagePath], [ProductTypeID], [NumberOfPeopleToManufacture], [NumberOfWorkshop]) VALUES (3, N'Шина R21 Лето', 266521, 10561, N'\products\tire_6.jpg', 3, 4, 1)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductTypes] ON 

INSERT [dbo].[ProductTypes] ([ID], [Name]) VALUES (1, N'Колесо')
INSERT [dbo].[ProductTypes] ([ID], [Name]) VALUES (2, N'Запаска')
INSERT [dbo].[ProductTypes] ([ID], [Name]) VALUES (3, N'Шина')
SET IDENTITY_INSERT [dbo].[ProductTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([ID], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([ID], [Name]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roles] ([ID], [Name]) VALUES (3, N'Агент')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitsOfMeasurement] ON 

INSERT [dbo].[UnitsOfMeasurement] ([ID], [Name]) VALUES (1, N'г')
INSERT [dbo].[UnitsOfMeasurement] ([ID], [Name]) VALUES (2, N'кг')
INSERT [dbo].[UnitsOfMeasurement] ([ID], [Name]) VALUES (3, N'м')
SET IDENTITY_INSERT [dbo].[UnitsOfMeasurement] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [FIO], [Login], [Password], [RoleID]) VALUES (1, N'Иванов Иван Иванович', N'i.ivanov', N'Passw0rd!1', 1)
INSERT [dbo].[Users] ([ID], [FIO], [Login], [Password], [RoleID]) VALUES (2, N'Петрова Мария Сергеевна', N'm.petrova', N'SecureP@ss2', 2)
INSERT [dbo].[Users] ([ID], [FIO], [Login], [Password], [RoleID]) VALUES (3, N'Сидоров Алексей Петрович', N'a.sidorov', N'UserPass3', 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_MaterialTypes] FOREIGN KEY([MaterialTypeID])
REFERENCES [dbo].[MaterialTypes] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_MaterialTypes]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_UnitsOfMeasurement] FOREIGN KEY([UnitOfMeasurementID])
REFERENCES [dbo].[UnitsOfMeasurement] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_UnitsOfMeasurement]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductMaterial_Materials] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Materials] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductMaterial] CHECK CONSTRAINT [FK_ProductMaterial_Materials]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductMaterial_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductMaterial] CHECK CONSTRAINT [FK_ProductMaterial_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductTypes] FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[ProductTypes] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductTypes]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
